<header class="pt-1">
   <div class="d-flex justify-content-center">
        </div>
      <div class="container">
        <div class="d-flex justify-content-center">
          <nav class="navbar navbar-light mx-auto">
          <ul class="nav nav-pills flex-column flex-sm-row">
            <li class="nav-item">
              <img class="logo" src="{{ url_for('static', filename='img/test2.png') }}" alt="Logo">
          </li>
            <li class="nav-item">
                <a class="flex-sm-fill text-sm-end nav-link" href="{{ url_for('introduction') }}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="flex-sm-fill text-sm-end nav-link" href="{{ url_for('testing') }}">Пройти тест</a>
            </li>
            <!--<li class="nav-item">
                <a class="flex-sm-fill text-sm-end nav-link" href="">О проекте</a>
            </li>-->
          </ul>
        </nav>
        </div>
      </div>
  </header>