{% extends "base.html" %}
{% block title %} Главная {%endblock %}
{% block content %}
<main>
  <section class="container my-2">
    <div class="row">
      <div class="col-12 col-lg-3 my-3 text-center"></div>
      <div class="col-12 col-lg-6 my-3 text-center">

        <h3>Муниципальное автономное общеобразовательное учреждение г. Хабаровска «Средняя школа №26 имени Р. Н. Филипова»<br>
        <b>Индивидуальный итоговый проект</b><br><br>
        Тема:
        <i>Профориентация и сайт для помощи абитуриентам после 9 класса в г. Хабаровск.</i></h3><br><br>

        Тестерование позволяет определить уровень мотивации человека к различным видам
        деятельности. Тест можно использовать при профориентации подростков и
        взрослых.
        Для каждого человека характерно более или менее чѐтко выраженное
        предпочтение видов деятельности, соответствующих тому предмету труда,
        который ему более близок. Это происходит в силу преобладания
        определѐнных интересов и личностных особенностей. Кому-то нравится
        работать с техникой, и это ему легко даѐтся, а кто-то, наоборот, от одного
        вида бытовых приборов испытывает ужас, зато его конек — общение.
        Если не акцентировать внимание на индивидуальных особенностях каждой
        профессии, то все возможные варианты, согласно теории известного
        российского психолога Е. А. Климова, можно объединить в пять типов: с
        природой, с техникой, с людьми, со знаковой системой, с художественным
        образом.

      </div>
      </div>
  </section>
</main>
{% endblock %}